body {
    background-color: #111111;
    color: aliceblue;
    font-family: 'Droid Sans Mono';
    font-size: large;
}

.container {
    color: aliceblue;
    display: flex;
}

#inseridos {
    background-color: #222222;
    outline: 0px solid transparent;
    flex: 0 0 65%;
    padding: 10px 0 10px 5%;
    word-wrap: break-word;
}

#resultados {
    background-color: #444444;
    flex: 0 0 25%;
    text-align: end;
    padding: 10px 5% 10px 0;
}