body {
    background-color: #27282D;
    color: aliceblue;
    font-family: 'Droid Sans Mono';
    font-size: large;
    margin: 0px;
}

.container {
    color: #E1E1DF;
    display: flex;
    padding-top: 20px;
}

#inseridos {
    /* background-color: #222222; */
    outline: 0px solid transparent;
    flex: 0 0 63%;
    margin: 10px 0 10px 5%;
    padding: 10px 10px 10px 10px;
    word-wrap: break-word;
}

#resultados {
    /* background-color: #444444; */
    flex: 0 0 20%;
    text-align: end;
    margin: 10px 5% 10px 0;
    padding: 10px 10px 10px 10px;
    color: #8DD32D;
    /* flex-wrap: wrap; */
    overflow-wrap: break-word;
}

#resultados:hover {
    background-color: #8DD32D;
    padding: 10px 10px 10px 10px;
    color: #27282D;
    border-radius: 30px;
}


/* *************************** */

header {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    -webkit-app-region: drag;
}

.title {
    color: #aaa;
    text-align: center;
    flex: auto;
    margin-top: 10px;
    padding-left: 12%;
}

.window-buttons {
    -webkit-app-region: no-drag;
    flex: 0 0 130px;
    display: flex;
    flex-direction: row-reverse;
    /* background-color: #8DD32D; */
}

.option {
    /* background-color: #8DD32D; */
    padding: 0px 15px 0px 15px;
    color: #eee;
    padding-top: 15px;
    margin-top: -10px;
    margin-bottom: -5px;
}

#win-min {
    border-radius: 0 0 0 3px;
}

.option:hover {
    background-color: #444;
}

#win-close:hover {
    background-color: rgb(118, 40, 40);
}